@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ArialRounded";
  src: url("/src/assets/fonts/ArialRoundedMTBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gantari";
  src: url("/src/assets/fonts/Gantari-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gantari";
  src: url("/src/assets/fonts/Gantari-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gantari";
  src: url("/src/assets/fonts/Gantari-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gantari";
  src: url("/src/assets/fonts/Gantari-Regural.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gantari";
  src: url("/src/assets/fonts/Gantari-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}